
body {
    background-color: rgb(243, 246, 250);
}
body, input, select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textButton {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 14px;
    line-height: 15px;
    margin: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.textButton:hover {
    color: #5e5e5e;
}
.buttonIcon {
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;    
}
.buttonIcon svg path.color {
    fill: #ffa190;
}
.buttonIcon svg:hover path.color {
    fill: #ff6347;
}
.commonButton {
    cursor: pointer;
    background-color: #ffa190;
    border: #ff6347;
    padding: 3px 10px;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.commonButton:hover {
    background-color: #ff6347;
}

/* TOPBAR ITEMS */
.topbar {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #ff6347;
    z-index: 100;
}
.topbarItem {
    display: inline-block;
    margin: 16px 10px;
    color: white;
}
.buttonMenu {
    margin-left: 10px;
    cursor: pointer;
    pointer-events: initial;
}
.buttonAddListDialog {
    border-radius: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #ffa190;
}
.buttonAddListDialog:hover {
    background-color: #ffccc3;
    color: #ff6347;
}
.buttonAddListDialog .plusSpacer {
    width: 20px;
    line-height: 16px;
    text-align: center;
}

/* MAIN WRAPPER */
.main {
    margin: 50px auto;
    width: 100%;
    height: calc(100% - 50px);
}

/* MAIN MENU */
#menu {
    position: fixed;
    float: left;
    z-index: 5;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #e0dad8;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.28);
    box-shadow: 0 0 16px rgba(0,0,0,.28);
}
.menuOpen #menu {
    left: 0;
}

/* PAGE VIEWS */

.viewWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.view {
    margin: 0 auto;
    max-width: 90%;
    height: 100%;
    padding-top: 20px;
}

/* UIBOX */

.uiBox {
    display: inline-block;
    margin: 12px;
    min-width: 150px;
    width: calc(100% - 24px);
    background-color: #fcfcfc;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.uiBoxTitle {
    background-color: #b8b8b8;
    padding: 10px 18px;
    line-height: 20px;
    margin-bottom: 20px;
}

.uiBoxEl {
    display: block;
    margin: 0 18px 20px;
}
.uiBoxEl label {
    display: inline-block;
    padding-right: 10px;
    line-height: 30px;
}
.uiBoxEl input {
    display: inline-block;
    text-align: left;
    padding: 5px;
    margin-right: 10px;
}
.uiBoxFooter {
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    min-height: 26px;
    font-size: 14px;
    background-color: #d8d8d8;
}

/* MODALS */

.modalWrapper {
    display: none;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
body.modalOpen .modalWrapper {
    display: block;
}
.modalContainer {
    margin: 80px auto 50px;
    max-width: 80%;
}
.modal {
}
.modalWrapper .modal {
    display: none;
}
.modal.active {
    display: block;
}

.modal .uiBoxEl {
    width: 70%;
}
.modal .uiBoxEl input {
    width: 60%;
}
.modal .uiBoxEl label {  
    min-width: 30%;
    text-align: right;
}

@media (min-width: 720px) {
}

/* Use a media query to add a breakpoint at 800px */
@media (min-width: 768px) {
    .menuOpen .viewWrapper {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
    .modalContainer {
        max-width: 666px;
    }
}

@media (min-width: 1310px) {
    body:not(.menuOpen) .view {
        max-width: 1180px;
    }
}
@media (min-width: 1560px) {
    body.menuOpen .view {
        max-width: 1180px;
    }
}